<footer class="footer">
    <div class="footer-container">
        <div class="footer-discord">
            <a href="https://discord.com/invite/eFghXEnc" target="_blank">
                <img
                    src="/static/img/discord.svg"
                    alt="Discord"
                    class="discord-logo"
                />
                <span style="text-decoration: underline; text-decoration-color: #9ece6a;"
                    >Join the Saturn9 Discord</span
                >
            </a>
        </div>
        <div class="footer-copyright">
            <p>© 2025 <a href="/">Saturn9</a> LLC</p>
        </div>
    </div>
</footer>
