<footer class="footer">
    <div class="footer-container">
        <div class="footer-discord">
            <a href="https://discord.gg/2vmaRr5JRD" target="_blank">
                <img
                    src="/static/img/discord.svg"
                    alt="Discord"
                    class="discord-logo"
                />
                <span
                    style="
                        text-decoration: underline;
                        text-decoration-color: #9ece6a;
                    "
                    >Saturn9 Discord</span
                >
            </a>
        </div>
        <div class="footer-x">
            <a href="https://x.com/saturn9studio" target="_blank">
                <img src="/static/img/x.svg" alt="X" class="x-logo" />
                <span
                    style="
                        text-decoration: underline;
                        text-decoration-color: #9ece6a;
                    "
                    >Follow on X</span
                >
            </a>
        </div>
        <div class="footer-copyright">
            <span>© 2025 <a href="/">Saturn9</a> LLC</span>
        </div>
    </div>
</footer>

<script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
